/* Reset */

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(270deg, #1e2c42, #0f172a, #1e3a5f, #0f172a);
    background-size: 400% 400%;

    animation: gradientMove 12s ease infinite;

    color: #fff;
    text-align: center;
    overflow-x: hidden;
}

/* Container */

.container {
    margin-top: 80px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Avatar */

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #4da3ff;
    box-shadow: 0 0 30px #4da3ff;
    display: block;
    margin: auto;
}

/* Text */

.hi {
    color: #ccc;
    margin-top: 15px;
    font-size: 18px;
}

.name {
    font-size: 50px;
    margin: 10px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.role {
    font-size: 20px;
    color: #9fb3ff;
}

/* dev */
.dev {
    color: #4da3ff;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: none;
}

/* Verify icon */

.verify {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: #3ea6ff;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(62, 166, 255, 0.7);
    vertical-align: middle;
}

/* Social */

.social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.social a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.icon {
    width: 70px;
    height: 70px;
    background: #2b3c5a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    transition: 0.3s;
}

.icon img {
    width: 32px;
}

.social a:hover .icon {
    background: #4da3ff;
    transform: scale(1.15);
    box-shadow: 0 0 20px #4da3ff;
}

.social span {
    margin-top: 8px;
}

/* Cards */

.cards {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
}

.card {
    background: #2f415f;
    height: 110px;
    padding: 20px 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;

}

.card:hover {
    transform: translateY(-8px);
    background: #3a537a;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .6);
}

.btn {
    background: #4da3ff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-shrink: 0;
}

/* MOBILE */

@media (max-width:700px) {

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
       
    }

    /* container */

    .container {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        padding: 0 10px;
    }

    /* avatar */

    .avatar {
        width: 100px;
        height: 100px;
    }

    /* text */

    .name {
        font-size: 26px;
        text-align: center;
    }

    .role {
        font-size: 15px;
        text-align: center;
    }

    /* social icon */

    .social {
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    .icon {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

    /* cards */

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 20px auto;
        gap: 14px;
    }

    /* card */

    .card {
        width: 100%;
        padding: 16px 12px;
        font-size: 15px;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 16px;
    }

    /* icon button trong card */

    .card a {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .card a i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}

@keyframes gradientMove {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}